<img src="img/arrow_left.png" class="arrow reload">
<h1>About Me</h1>




			<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-3-5">
			<p>I am a recent graduate of the General Assembly Web Development Immersive bootcamp where I learned to build a full-stack web applications. The 12 week intensive course helped me become adept at back-end web development as well as front-end web development by teaching the fundamentals of coding. In the past I have worked in administration and helped in various opportunities to help those around the community.</p>
		</div>	
		<div class="pure-u-1-5"></div>
	</div>

<script type="text/javascript">

		$('.arrow').click(function(){
		location.reload();
	});
</script>

</body>
	