

<div class="pure-g">

		<div class="pure-u-1-1">
			<div>
				<h1>About Me</h1>
			</div>
		</div>
	<div class="pure-g">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-1-5 ">
			<div id="img-box">
				<img id="me" class="pure-img"src="http://i.imgur.com/YZSxgRR.jpg?2" alt="">
			</div>		
		</div>
		<div class="pure-u-2-5 ">
			<div class="aboutme">
				<p>I am originally from south <a class="links" id="home" href="http://en.wikipedia.org/wiki/Brownsville,_Texas">Texas</a> and hold a bachelors in psychology from the <a class="links" id="uni" href="http://www.utb.edu/Pages/default.aspx">University of Texas at Brownsville</a></p>
				<p>I am a graduate of the <a class="links" id="GA" href="generalassemb.ly">General Assembly</a> Web Development Immersive bootcamp where I learned to build a full-stack web applications. The <a class="links" id="WDI"href="generalassemb.ly/education/web-development-immersive">12 week intensive course</a> helped me become adept at back-end web development as well as front-end web development by teaching the fundamentals of coding. In the <a class="links" id="exp" href="www.linkedin.com/in/lindamtz">past</a> I have worked in administration and helped in various opportunities to help those around the community.</p>
			</div>			
		</div>	
	</div>
</div>


</body>
	