<div class="pure-g">
<div class="pure-u-1-1">
		<h1>Contact</h1>
</div>
	<div class="pure-u-1-4"></div>
		<div class="pure-u-1-4">
			
				<a href="mailto:sammieeagle@gmail.com">
				<img class="icon" src="http://i.imgur.com/gjGwiWl.png" alt="Email">
			</a>
		
		</div>	
		<div class="pure-u-1-2">
		<p class="contact">sammieeagle@gmail.com</p>
		</div>
	<div class="pure-u-1-4"></div>
		<div class="pure-u-1-4">
				<img class="icon" src="http://i.imgur.com/EZAlqHa.png" alt="Phone">		
		</div>	
		<div class="pure-u-1-2">
			<p class="contact">956.545.5595</p>
		</div>
<br>
<br>
	<div class="pure-u-1-4"></div>
		<div class="pure-u-1-4">		
				<a href="linkedin.com/in/lindamtz">
				<img class="icon" src="http://i.imgur.com/fQYjxov.png" alt="LinkedIN">
				</a>		
		</div>	
		<div class="pure-u-1-2">
			<p class="contact">linkedin.com/in/lindamtz</p>
		</div>
<br>
<br>
	<div class="pure-u-1-4"></div>
		<div class="pure-u-1-4">			
				<a href="github.com/catlag">
						<img class="icon" src="http://i.imgur.com/153d36M.png" alt="GitHub">
					</a>					
		</div>	
		<div class="pure-u-1-2">
			<p class="contact">github.com/catlag</p>
		</div>



</div>

</body>


<script type="text/javascript">

		$('.arrow').click(function(){
		location.reload();
	});
</script>


	