<img src="img/arrow_left.png" class="arrow reload">
<h1>Contact</h1>







			<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-3-5">
			<div class="pure-u-1">
<p>Email: sammieeagle@gmail.com</p>
<p>Phone: (956) 545-5595</p>
<p>Github:</p>
<p>LinkedIn:</p>
</div>
		</div>	
		<div class="pure-u-1-5"></div>
	</div>










<script type="text/javascript">

		$('.arrow').click(function(){
		location.reload();
	});
</script>

</body>
	