<body>
<img src="img/arrow_left.png" class="arrow reload">
<h1>Experience</h1>





<!-- 	<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
			<div class="pure-u-3-5">
				Languages: JavaScript, Ruby, HTML5, CSS3 
				<br>
				Database Tools: SQL, PostgreSQL, Sequelize
				<br>
				Authentication: BCrypt, OAuth
				<br>
				Frameworks: Node.js, ExpressJS, Rails 
				<br>
				Other: Github, Heroku, jQuery, AJAX, JSON, Bootstrap, Pure CSS, REST 
			</div>	
		<div class="pure-u-1-5"></div>
	</div> -->

<div id="myChart"></div>

</body>

<script type="text/javascript">


		$('.arrow').click(function(){
		location.reload();
	});
</script>

