<% include partials/header %>


<div class="diamond">
	<div class="information">
		<h1>Linda Martinez</h1>
		<p class=""></p>
	</div>
	<div class="line1">
		<div class="box" id="box1"><img src="img/mint.png" class="img1"></div>
		<p style="display:none;">About Me</p>
	</div>
	<div class="line2">
		<div class="box" id="box2"><img src="img/mint.png" class="img2"></div>
		<div class="box" id="box3"><img src="img/mint.png" class="img3"></div>
		<p style="display:none;">Blog</p>
	</div>

	<div class="line3">
		<div class="box" id="box4"><img src="img/mint.png" class="img4"></div>
		<div class="box" id="box5"><img src="img/mint.png" class="img5"></div>
		<div class="box" id="box6"><img src="img/mint.png" class="img6"></div>
		<p style="display:none;">Projects</p>
	</div>

	<div class="line4">
		<div class="box" id="box7"><img src="img/mint.png" class="img7"></div>
		<div class="box" id="box8"><img src="img/mint.png" class="img8"></div>
		<p style="display:none;">Contact</p>
	</div>

	<div class="line5">
		<div class="box" id="box9"><img src="img/mint.png" class="img9"></div>
		<p style="display:none;">Blah</p>
	</div>
</div>


<div class="covervid-wrapper vid hidden">
	
	<div class="header"><img src="img/arrow_left.png" class="arrow hidden"></div>
  <p>Hello</p>
</div>
<div>
	<img src="" alt="">
</div>



	<!-- Load Scripts -->

	<script src="covervid/covervid.js"></script>
	<script src="covervid/assets/scripts/scripts.js"></script>

	<!-- Call CoverVid -->

	<script src="/js/script.js"type="text/javascript"></script>

<script>
	$('.covervid-video').coverVid(1920, 1080);
</script>




<% include partials/footer %>