<% include partials/header %>
<div class="diamond">

	<div class="line1">
		<div class="box box1 fade"><img src="img/mint.png" class="img1"></div>
	</div>
	<div class="line2">
		<div class="box box2 fade"><img src="img/mint.png" class="img2"></div>
		<div class="box box3"><img src="img/mint.png" class="img3"></div>
	</div>

	<div class="line3">
		<div class="box box4"><img src="img/mint.png" class="img4"></div>
		<div class="box box5"><img src="img/mint.png" class="img5"></div>
		<div class="box box6"><img src="img/mint.png" class="img6"></div>
	</div>

	<div class="line4">
		<div class="box box7"><img src="img/mint.png" class="img7"></div>
		<div class="box box8"><img src="img/mint.png" class="img8"></div>
	</div>

	<div class="line5">
		<div class="box box9"><img src="img/mint.png" class="img9"></div>
	</div>
</div>


<div class="covervid-wrapper vid hidden">
	
	<div class="header"><img src="img/arrow_left.png" class="arrow hidden"></div>
  <p>Hello</p>
</div>
<div>
	<img src="" alt="">
</div>



	<!-- Load Scripts -->

	<script src="covervid/covervid.js"></script>
	<script src="covervid/assets/scripts/scripts.js"></script>

	<!-- Call CoverVid -->

<script>
$(document).ready(function(){

    $('.box').addClass('animated bounceIn');
});

	$('.img1').click(function(){
		$('.box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9').addClass('animated fadeOut'),
		$('.covervid-wrapper').removeClass("hidden"),
		$(".vid > p").replaceWith("<iframe width='100%' height='100%'  class='cover-vid-video' src='//www.youtube.com/embed/IR-l_TSjlEo?rel=0&amp;showinfo=0' frameborder='0' allowfullscreen></iframe>").fadeIn(900),
			$('.arrow').removeClass("hidden");

	});

	$('.img2, .img3').click(function(){
			$('.box1, .box4, .box5, .box6, .box7, .box8, .box9').addClass('animated fadeOut'),
		$('.covervid-wrapper').removeClass("hidden"),
		$(".vid > p").replaceWith("<iframe width='100%' height='100%' class='cover-vid-video' src='//www.youtube.com/embed/ZrXrZ5iiR0o?rel=0&amp;showinfo=0' frameborder='0' allowfullscreen></iframe>").fadeIn(900),
		$('.arrow').removeClass("hidden");
		
	});

	$('.img4, .img5, .img6').click(function(){
			$('.box1, .box2, .box3, .box7, .box8, .box9').addClass('animated fadeOut'),
		$('.covervid-wrapper').removeClass("hidden"),
		$(".vid > p").replaceWith("<iframe width='100%' height='100%' class='cover-vid-video' src='//www.youtube.com/embed/OwCatikaHNM?rel=0&amp;showinfo=0' frameborder='0' allowfullscreen></iframe>").fadeIn(900),
		$('.arrow').removeClass("hidden");
		
	});

	$('.img7, .img8').click(function(){
			$('.box1, .box2, .box3, .box4, .box5, .box6, .box9').addClass('animated fadeOut'),
		$('.covervid-wrapper').removeClass("hidden"),
		$(".vid > p").replaceWith("<iframe width='100%' height='100%' class='cover-vid-video' src='//www.youtube.com/embed/poDO86TgXPA?rel=0&amp;showinfo=0' frameborder='0' allowfullscreen></iframe>").fadeIn(900),
		$('.arrow').removeClass("hidden");
		
	});
	$('.img9').click(function(){
			$('.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8').addClass('animated fadeOut'),
		$('.covervid-wrapper').removeClass("hidden"),
		$(".vid > p").replaceWith("<iframe width='100%' height='100%' class='cover-vid-video' src='//www.youtube.com/embed/cIpD7V4cG9c?rel=0&amp;showinfo=0' frameborder='0' allowfullscreen></iframe>").fadeIn(900),
		$('.arrow').removeClass("hidden");
		
	});

	$('.arrow').click(function(){
		location.reload();
	});

</script>


<script>
	$('.covervid-video').coverVid(1920, 1080);
</script>




<% include partials/footer %>