
<img src="img/arrow_left.png" class="arrow reload">

<div class="pure-g">
	<div class="pure-u-1">
		<h1>Projects</h1>
	</div>
	<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-3-5">
		<a href="http://lm-grubber.herokuapp.com/">
			<img class="pure-img" src="http://i.imgur.com/518wbrX.png" >
		</a>			
		</div>	
		<div class="pure-u-1-5"></div>
		<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
			<div class="pure-u-3-5 description">
					lm-grubber.herokuapp.com | github
				<br>
				A food web application that searches for recipes based on your input
				and locates stores in you area.
				<br>
				Built with Javascript, Node.js, Express,
				Google Maps API.
			</div>	
		<div class="pure-u-1-5"></div>
	</div>
	</div>

	<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-3-5">
			<a href=""></a>
				<img class="pure-img" src="http://i.imgur.com/8SIIm8P.png" alt="">
		</div>	
		<div class="pure-u-1-5"></div>
	<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
			<div class="pure-u-3-5 description">
					sketchphrase.herokuapp.com | github
					<br>
					A mobile first web application that mixes elements of telephone and
					pictionary to create fun for all. 
					<br>
					Built with Ruby, Rails, PaperJs, JQuery.
			</div>	
		<div class="pure-u-1-5"></div>
	</div>
	</div>

	<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-3-5">
			<img class="pure-img" src="http://i.imgur.com/wUIe1Eh.png" alt="">
		</div>	
		<div class="pure-u-1-5"></div>
		<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
			<div class="pure-u-3-5 description">
					adventure-share.herokuapp.com | github
				<br>
				A long-distance road share web application that allows users to travel
				together on road trips.
				<br>
				Built with Ruby on Rails and Google Maps API.
			</div>	
		<div class="pure-u-1-5"></div>
	</div>
	</div>
</div>

<script type="text/javascript">
	$(".grubber").hover(function(){
	console.log("hello");
});

		$('.arrow').click(function(){
		location.reload();
	});
</script>

</body>
	
</html>