


<div class="pure-g">
	<div class="pure-u-1">
		<h1>Projects</h1>
	</div>
	<div class="pure-u-1">

			<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-3-5">
			<a href="https://three-in-a-row.herokuapp.com/">
				<img class="pure-img" src="http://i.imgur.com/ZxOQEKp.png?1" alt="">
			</a>
		</div>	
		<div class="pure-u-1-5"></div>
		<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
			<div class="pure-u-3-5 description">
				<h2><a href="https://three-in-a-row.herokuapp.com/">Tic Tac Toe</a></h2>
				<br>
					A simple tic tac toe game!
				<br>
				
				<a href="https://github.com/catlag/tictactoe">GitHub</a>
			</div>	
		<div class="pure-u-1-5"></div>
	</div>
	</div>

		<div class="pure-u-1-5"></div>
		<div class="pure-u-3-5">
		<a href="http://lm-grubber.herokuapp.com/">
			<img class="pure-img" src="http://i.imgur.com/518wbrX.png" >
		</a>			
		</div>	
		<div class="pure-u-1-5"></div>
		<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
			<div class="pure-u-3-5 description">
					<h2><a href="lm-grubber.herokuapp.com">Grubber</a></h2>
				<br>
				A food web application that searches for recipes based on your input
				and locates stores in you area.
				<br>
				Built with Javascript, Node.js, Express,
				Google Maps API.
				<a href="https://github.com/catlag/project_1">GitHub</a>
			</div>	
		<div class="pure-u-1-5"></div>
	</div>
	</div>

	<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-3-5">
			<a href="http://sketchphrase.herokuapp.com/">
				<img class="pure-img" src="http://i.imgur.com/8SIIm8P.png" alt="">
			</a>
		</div>	
		<div class="pure-u-1-5"></div>
	<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
			<div class="pure-u-3-5 description">
					<h2><a href="http://sketchphrase.herokuapp.com/">SketchPhrase</a></h2> 
					<br>
					A mobile first web application that mixes elements of telephone and
					pictionary to create fun for all. 
					<br>
					Built with Ruby, Rails, PaperJs, JQuery. <a href="https://github.com/catlag/SketchPhraseV1">GitHub</a>
			</div>	
		<div class="pure-u-1-5"></div>
	</div>
	</div>

	<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-3-5">
			<a href="http://adventure-share.herokuapp.com/">
				<img class="pure-img" src="http://i.imgur.com/wUIe1Eh.png" alt="">
			</a>
		</div>	
		<div class="pure-u-1-5"></div>
		<div class="pure-u-1">
		<div class="pure-u-1-5"></div>
			<div class="pure-u-3-5 description">
				<h2><a href="adventure-share.herokuapp.com">Adventure Share</a></h2>
				<br>
				A long-distance road share web application that allows users to travel
				together on road trips.
				<br>
				Built with Ruby on Rails and Google Maps API.
				<a href="https://github.com/catlag/adventure_share">GitHub</a>
			</div>	
		<div class="pure-u-1-5"></div>
	</div>
	</div>




</div>

<script type="text/javascript">
	$(".grubber").hover(function(){
	console.log("hello");
});

		$('.arrow').click(function(){
		location.reload();
	});
</script>

</body>
	
</html>